In [14]:
import pandas as pd
import numpy as np

In [35]:
df_wordNet_imageNet = pd.read_csv("./files/wordnet_to_imagenet.csv",sep=': ',names=["wordNet_class","imageNet_class"],header = None)
df_wordNet_imageNet

/var/folders/rl/bmzv82250753s6nrlbm67tm40000gn/T/ipykernel_27713/788438450.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_wordNet_imageNet = pd.read_csv("./files/wordnet_to_imagenet.csv",sep=': ',names=["wordNet_class","imageNet_class"],header = None)

    wordNet_class                                     imageNet_class
0      "n02119789                          kit fox, Vulpes macrotis"
1       n02100735                                     English setter
2       n02096294                                 Australian terrier
3      "n02066245  grey whale, gray whale, devilfish, Eschrichtiu...
4      "n02509815  lesser panda, red panda, panda, bear cat, cat ...
..            ...                                                ...
995     n02086646                                   Blenheim spaniel
996    "n02091244                      Ibizan hound, Ibizan Podenco"
997     n02089973                                   English foxhound
998     n02105251                                             briard
999     n02093754                                     Border terrier

[1000 rows x 2 columns]

In [42]:
df_wikidata_wordNet = pd.read_csv("./files/wikidata_to_wordnet.csv")
df_wikidata_wordNet.rename(columns={"item":"wikidata_class", "itemLabel":"item_label", "uri":"wordNet_class"})

,wikidata_class,item_label,wordNet_class
0,http://www.wikidata.org/entity/Q144,dog,http://wordnet-rdf.princeton.edu/wn30/02084071-n
1,http://www.wikidata.org/entity/Q177,pizza,http://wordnet-rdf.princeton.edu/wn30/07873807-n
2,http://www.wikidata.org/entity/Q5414,Great Dane,http://wordnet-rdf.princeton.edu/wn30/02109047-n
3,http://www.wikidata.org/entity/Q7987,mouse,http://wordnet-rdf.princeton.edu/wn30/03793489-n
4,http://www.wikidata.org/entity/Q11707,restaurant,http://wordnet-rdf.princeton.edu/wn30/04081281-n
...,...,...,...
457,http://www.wikidata.org/entity/Q13389713,snorkel,http://wordnet-rdf.princeton.edu/wn30/04251144-n
458,http://www.wikidata.org/entity/Q6817227,water bottle,http://wordnet-rdf.princeton.edu/wn30/04557648-n
459,http://www.wikidata.org/entity/Q38132106,soup bowl,http://wordnet-rdf.princeton.edu/wn30/04263257-n
460,http://www.wikidata.org/entity/Q47493881,water jug,http://wordnet-rdf.princeton.edu/wn30/04560804-n
461,http://www.wikidata.org/entity/Q33609,polar bear,http://wordnet-rdf.princeton.edu/wn30/02134084-n/

In [41]:
df_dbpedia_wikidata = pd.read_csv("./files/dbpedia_to_wikidata.csv")
df_dbpedia_wikidata= df_dbpedia_wikidata.rename(columns={"DBpediaClass":"dbpedia_class", "itemLabel":"item_label", "WikidataClass":"wikidata_class"})

df_dbpedia_wikidata[:20]

,dbpedia_class,item_label,wikidata_class
0,http://dbpedia.org/ontology/AcademicConference,academic conference,http://www.wikidata.org/entity/Q2020153
1,http://dbpedia.org/ontology/AcademicSubject,academic subject,http://www.wikidata.org/entity/Q11862829
2,http://dbpedia.org/ontology/Activity,activity,http://www.wikidata.org/entity/Q1914636
3,http://dbpedia.org/ontology/Actor,actor,http://www.wikidata.org/entity/Q33999
4,http://dbpedia.org/ontology/AdministrativeRegion,administrative region,http://www.wikidata.org/entity/Q3455524
5,http://dbpedia.org/ontology/AdultActor,adult (pornographic) actor,http://www.wikidata.org/entity/Q488111
6,http://dbpedia.org/ontology/Agent,agent,http://www.wikidata.org/entity/Q24229398
7,http://dbpedia.org/ontology/Aircraft,aircraft,http://www.wikidata.org/entity/Q11436
8,http://dbpedia.org/ontology/Airline,airline,http://www.wikidata.org/entity/Q46970
9,http://dbpedia.org/ontology/Airport,airport,http://www.wikidata.org/entity/Q1248784
10,http://dbpedia.org/ontology/Album,album,http://www.wikidata.org/entity/Q482994
11,http://dbpedia.org/ontology/Algorithm,Algorithm,http://www.wikidata.org/entity/Q8366
12,http://dbpedia.org/ontology/Altitude,altitude,http://www.wikidata.org/entity/Q190200
13,http://dbpedia.org/ontology/Ambassador,ambassador,http://www.wikidata.org/entity/Q121998
14,http://dbpedia.org/ontology/AmericanFootballPl...,american football player,http://www.wikidata.org/entity/Q14128148
15,http://dbpedia.org/ontology/AnatomicalStructure,anatomical structure,http://www.wikidata.org/entity/Q4936952
16,http://dbpedia.org/ontology/Animal,animal,http://www.wikidata.org/entity/Q729
17,http://dbpedia.org/ontology/Anime,Anime,http://www.wikidata.org/entity/Q1107
18,http://dbpedia.org/ontology/Archeologist,archeologist,http://www.wikidata.org/entity/Q3621491
19,http://dbpedia.org/ontology/Archipelago,archipelago,http://www.wikidata.org/entity/Q33837